body {
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    background-color: #ff8882;
    padding: 0;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #194350;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    padding-left: 50px;

}

nav a {
    text-decoration: none;
    color: #194350;
    padding: 0 16px;

}

nav .navbar {
    width: 30%;
}

main {
    width: 70%;
    margin: 0 auto;
    
}
.about-me{
    width: 100%;
    height: 60vh;
    display: flex;
}
.about-me h1{
    color:#194350 ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.prigh{
    margin: auto;
    width: 50%;
    color: #9dbeb9;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.prigh a{
    text-decoration: none;
    color: #ff8882;
}
.prigh ul{
    margin: 0;
}
.about-me img{
    width:300px;
    height: 300px;
    border: 5px solid #ffc2b4;
    margin: auto;
}

.section-2{
    height: 80vh;
    width: 100%;
    margin: auto;
}
.section-2 p:nth-child(odd){
    background-color: #ffc2b4;
     color: #194350;
}
.section-2 p:nth-child(even){
    background-color: #194350;
    color: #ffc2b4;
}
footer {
    background-color: #9dbeb9;
    color: #194350;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 20px 5px;
}

.section-2 h1 {
    background-color: #ffc2b4;
    color: #194350;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 1rem;
    padding: 20px 0;
    margin-top: 100px;
    font-size: 2.4rem;
}

.section-2 p {
    border-radius: 2rem;
    text-align: center;
    padding: 8px 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
.section-3{
    margin: auto;
    background-color:#9dbeb9 ;
    color: #FF8882;
    border-radius: 2rem;
    width: 80%;
    margin: 30px auto;
    padding: 20px 0;
    border: 5px solid #ff8882;
    
}
.section-3 h1{
    color: #194350;
    text-align: center;
    
}
.section-3 ol {
  margin: auto;
  width: 40%;
}
footer {
    background-color: #9dbeb9;
    color: #194350;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 20px 5px;
}